fire
ftfy
nltk
tqdm
pytz
munch
seaborn
notebook
matplotlib
scikit-learn
ranger-fm
gspread
oauth2client
tensorboard
wandb
openai
google-cloud-aiplatform
langchain
transformers>=4.37.2
diffusers>=0.18.0
accelerate
invisible_watermark
safetensors
peft
torchvision
clip
timm
loralib
